.menu ul li{
    list-style: none;
    font-size: 0.35rem;
    color: #333333;
    text-align: center;
}
.menu ul{
    display: flex;
    height: 2.6rem;
    justify-content: space-around;
    align-items: center;
}
.menu ul li img{
    width: 1.2rem;
    height: 1.1rem;
}
.menu ul li span{
    display: block;
}
.menu .mlb{
    height: 0.16rem;
    text-align: center;
    font-size: 0.2rem;
}